
body,html {
    background:#FDF9EB;
    padding-top: 7rem;
    background-image: url("compress90.jpg");
}


td.left-item {
    border-right: 1px solid #E8C78F;
    border-top: none;
}

h2 {
    border-bottom: 2px solid #E8C78F;
    padding-top: 0.3em;
}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color: #0C1131;
    border-bottom: 5px solid #E8C78F;
    padding-bottom: 1px;
    background-image: url("top_top.jpg");
    background-repeat: repeat-x;
    background-position: top; 
}

.navlist li {
    display: inline;
    list-style-type: none;
    padding-right: 2em;
    font-size: 1rem;
}

h1.title {
    color: #EAD5B0;
    padding-top: 1em;
    font-size: 2rem;
}

@media screen and (min-width: 544px) {
	h1.title {font-size:2.5rem;} /*1rem = 16px*/
	.navlist li {
		font-size:1.5rem;
		padding-right: 3em;
	} /*1rem = 16px*/
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
	h1.title {font-size:3rem;} /*1rem = 16px*/
	.navlist li {
	  font-size:1.7rem;
	} /*1rem = 16px*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h1.title {font-size:3.5rem;} /*1rem = 16px*/
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  h1.title {font-size:4rem;} /*1rem = 16px*/    
}

.navlist a {
    color: #D1291C;
}

.main-icon-shift {
    padding-right: 0.5em;
}

.header-top {
    padding-top:-10px;
}

.registry {
    position:relative;
    padding-left: 0.7em;
}

.registry::before {
    content: "\f06b";
    font-family: FontAwesome;
    left:-0.4em;
    top:-0.2em;
    position:absolute;
}