.timeline-time {
    font-weight: 500;
    font-size: 0.5rem;
    text-align: right;
}

@media screen and (min-width: 544px) {
  .timeline-time {font-size:2.5rem;} /*1rem = 16px*/
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media screen and (min-width: 768px) {  
	.timeline-time {font-size:1rem;} /*1rem = 16px*/
}
 
/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
  .timeline-time {font-size:1.5rem;} /*1rem = 16px*/
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {  
  .timeline-time {font-size:2rem;} /*1rem = 16px*/    
}

.timeline-title {
    font-weight: 500;
    font-size: 2rem;
}

.timeline-item {
  padding-bottom: 1.5em;
  border-left: 2px solid #E8C78F;
}

.timeline-item::after {
  width: 16px;
  height: 16px;
  display: block;
  top: 0.8rem;
  position: absolute;
  left: -9px;
  border-radius: 16px;
  content: '';
  border: 1px solid #E8C78F;
  background: #E8C78F;
}

.last-child {
  border-image: linear-gradient(to bottom, #E8C78F 60%, transparent) 1 100%;
}

.offset {
  padding-top: 1em;
}